<table width=260>
    <tr>
        <td width=180><center><font color="LEVEL">Zones HEHE<font></center></td>
        <td width=40><button value="Новая" action="bypass -h diablo_riftEditor_createZone_1 " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=260>
    <tr><td>Zone</td>/tr>
        %zones_list%
</table>