<table width=280>
    <tr>
        <td width=100><center><font color="LEVEL">%zone_name%<font></center></td>
        <td width=90><button value="Back" action="bypass -h diablo_riftEditor_showZones_1 " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=90><button value="Новая" action="bypass -h diablo_riftEditor_createZone_1 " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=280>
    <tr>
        <td><edit var="title" width=90></td>
        <td><button value="Обновить" action="bypass -h diablo_riftEditor_updateZone_title $title " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="УДАЛИТЬ" action="bypass -h diablo_riftEditor_removeZone " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"> </td>
    </tr>
    <tr>
        <td>Start npc %zone_start% </td>
        <td><button value="Обновить" action="bypass -h diablo_riftEditor_updateZone_startNpc " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>End npc %zone_end% </td>
        <td><button value="Обновить" action="bypass -h diablo_riftEditor_updateZone_endNpc " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>Кол-во мобцов %zone_mobscount%</td>
        <td><edit var="mobs" width=50></td>
        <td><button value="Обновить" action="bypass -h diablo_riftEditor_updateZone_mobsCount $mobs " width=50 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td>Точки зоны</td>
        <td><button value="Добавить" action="bypass -h diablo_riftEditor_updateZone_addPoint " width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Удалить все" action="bypass -h diablo_riftEditor_updateZone_removeAllPoints " width=70 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<table width=280>
    <tr><td>Номер точки</td><td>Управление</td></tr>
    %zone_points%
</table>